/* ============ Fonts ============ */
$font-base: "Roboto", sans-serif;
$font-inter: "Inter", sans-serif;
/* ============ Colors ============ */

$darkest: #000049;
$dark: #201E58;
$light: #545297;
$lightest: #C1C0DC;
$white: #FFFFFF;

$bg-light: #EBEBF3;
$bg-dark: #393782;

/* ============ Breakpoints ============ */
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 0;

/* ============ Settings ============ */
$image-path: "~src/images/";
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1200px,
);
// $grid-breakpoints: (
//   xs: $breakpoint-xs,
//   sm: $breakpoint-sm,
//   md: $breakpoint-md,
//   lg: $breakpoint-lg,
//   xl: $breakpoint-xl,
// );
// $grid-gutter-width: 20px;

$theme-colors: (
  darkest: $darkest,
  dark: $dark,
  light: $light,
  lightest: $lightest,
  white: $white,
);
