<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.png" sizes="32x32">
  <title>iTEE - Nâng tầm đẳng cấp Golf thủ</title>
  <link rel="stylesheet" href="css/app.min.css">
  <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
  <script src="js/app.js"></script>
</head>

<body>
  <header class="header">
    <div class="container-fluid">
      <nav class="navbar">
        <div class="menu-icon" onclick="handleMenu('open')">
          <i class="fas fa-bars"></i>
        </div>
        <a class="navbar-brand" href="index">iTEE</a>
        <ul class="navbar-nav nav-left mr-auto">
          <li class="nav-item">
            <a class="nav-link navbar-brand-mobile" href="index">iTEE</a>
            <span class="close-icon" onclick="handleMenu('close')">×</span>
          </li>
          <li class="nav-item active">
            <a class="nav-link" onclick="scrollx('#features')">Tính năng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="courses">Khóa học</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tours">Tours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="scrollx('#booking')">Đặt chỗ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cửa hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="scrollx('#bussiness')">Về chúng tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="scrollx('#contact')">Liên hệ</a>
          </li>
        </ul>

        <ul class="navbar-nav nav-right">
          <li class="nav-item mr-3">
            <span class="nav-icon">
              <i class="fas fa-search"></i>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-icon">
              <i class="fas fa-shopping-cart"></i>
            </span>
            <span class="nav-link"> Giỏ hàng</span>
          </li>
          <li class="nav-item">
            <a href="#"><i class="fas fa-user"></i></a>
            <a class="nav-link" href="#">
              Đăng nhập
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Đăng kí</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- build:banner -->
  </header>
  <!-- build:content -->

  <footer class="footer">
    <div class="footer-nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-nav-main-title">iTEE</div>
            <div class="footer-nav-main-text">iTEE là nền tảng golf cao cấp giúp kết nối những người chơi golf với nhau và người chơi golf với các sân golf chất lượng cao trên toàn thế giới để đem để những trải nghiệm golf tốt nhất cho từng người chơi.
            </div>
          </div>
          <div class="col-lg-1 divider"></div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-lg-4">
                <div class="footer-nav-title">ĐỊA CHỈ</div>
                <p class="footer-address">7916 Glenholme Lane Sandusky, OH 44870</p>
              </div>
              <div class="col-lg-4">
                <div class="footer-nav-title">LIÊN HỆ</div>
                <div class="footer-contact">
                  <div>+84-123-456-789</div>
                  <a class="text-underline" href="">contact@example.com</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="footer-nav-title">THEO DÕI CHÚNG TÔI</div>
                <div class="text-gray">
                  <a href="">
                    <i class="fab fa-google-plus fa-lg mr-2"></i>
                  </a>
                  <a href="">
                    <i class="fab fa-facebook fa-lg mr-2"></i>
                  </a>
                  <a href="">
                    <i class="fab fa-twitter fa-lg mr-2"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center container">
      Copyright © 2020 iTee Pte Ltd. All rights reserved.
    </div>
  </footer>

  <div class="overlay" onclick="handleMenu('close')"></div>
</body>

</html>