.text-underline{
  text-decoration: underline;
}

.semi-b{
  font-weight: 600!important;
}
.font {
  &-sm{font-size: 14px;}
  &-xs{font-size: 12px;}
  &-lg{font-size: 18px;}
}
.align-sub {
  vertical-align: sub;
}
.fas {
  vertical-align: middle;
}

.btn {
  display: inline-block;
  padding: 15px 16px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  border: 0;
  outline: none;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 2px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #555;
  }
  
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #ccc;
  }
  
  &::-webkit-scrollbar-corner {
    display: none;
  }
}
