.header {
  color: $white;
  padding: 23px 0;
  font-size: 11px;
  top: 0;
  z-index: 99;
  @media screen and(min-width: $breakpoint-sm) {
    font-size: 14px;
    position: sticky;
  }
  &.active {
    background-color: #262558;
  }
  .container {
    display: flex;
    align-items: center;
  }
  &__brand {
    margin-right: 10px;
    @media screen and(min-width: $breakpoint-sm) {
      margin-right: 50px;
    }
  }
  &__left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: $bg-dark;
    z-index: 9999;
    padding: 20px;
    transition: 0.3s;
    &.active {
      left: 0;
    }
    &-top {
      justify-content: space-between;
    }
    a {
      display: block;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      margin-top: 20px;
      &:first-child {
        margin-top: 50px;
      }
    }
    @media screen and(min-width: $breakpoint-lg) {
      position: static;
      padding: 0;
      background-color: transparent;
      font-family: $font-inter;
      a {
        margin: 0 20px;
        display: inline;
        font-size: inherit;
      }
    }
  }
  &__right {
    font-family: $font-inter;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: auto;
    .dropdown {
      border: 1px solid #8e8dc0;
      box-sizing: border-box;
      border-radius: 30px;
      padding: 5px 25px 5px 16px;
      height: 36px;
      margin-left: 5px;
      cursor: pointer;
      background-image: url("../images/caret.png");
      background-repeat: no-repeat;
      background-position: center right 9px;
      @media screen and(min-width: $breakpoint-sm) {
        margin-left: 20px;
        padding: 5px 20px 5px 11px;
      }
    }
  }
}
