.wrapper {
  background-image: url("../images/bg-top.png");
  background-repeat: no-repeat;
  background-size: 100% 1530px;
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.title {
  font-family: $font-inter;
  font-weight: 700;
  font-size: 40px;
  color: $darkest;
  &--top {
    margin-top: 130px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 60px;
  }
  &--item {
    font-size: 18px;
    line-height: 28px;
  }
  &--sub {
    font-size: 28px;
    line-height: 36px;
  }
}

.home {
  &__block-top {
    margin-bottom: 210px;
  }
  &__brand {
    padding-top: 200px;
    .title {
      margin-bottom: 50px;
    }
    .row {
      align-items: center;
    }
  }
  &__block-bottom {
    margin-top: 120px;
    background-image: url("../images/bg-bottom.png");
    background-repeat: no-repeat;
    background-size: 100% 1530px;
    height: 2000px;
  }
}
