.features {
  &-item {
    margin-bottom: 50px;
    text-align: center;
    cursor: pointer;
    @media screen and (min-width: $breakpoint-swiper) {
      text-align: left;
      display: flex;
      margin-bottom: 30px;
    }
    &-icon {
      display: none;
      @media screen and (min-width: $breakpoint-swiper) {
        display: block;
        margin-top: 10px;
        margin-right: 20px;
      }
    }
    &-content {
      flex: 1;
    }
    &-img {
      height: 300px;
      margin-bottom: 40px;
      @media screen and (min-width: $breakpoint-swiper) {
        display: none;
      }
    }
    &-title {
      color: $dark;
      line-height: 24px;
      font-size: 16px;
      font-weight: 700;
    }
    &-text {
      margin-top: 10px;
      font-size: 16px;
      color: $gray;
    }
  }

  &-img {
    display: none;
    @media screen and (min-width: $breakpoint-swiper) {
      display: block;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 50px;
      text-align: center;
    }
  }
}

.course {
  background-color: $black;
  color: $gray-3;
  font-weight: 300;
  .section{
    &-title {
      color: $white;
    }
    &-subtitle {
      color: $gray-3;
    }
  }
}

.booking {
  background: url(../images/mask1.png) no-repeat;
  background-position: bottom left;
  .media {
    h5 {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      color: $black;
    }
    &-body {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .container {
    background-color: $gray-4;
    padding: 60px 100px;
  }
  @media screen and (max-width: $breakpoint-md) {
    padding: 0;
    background-color: $gray-4;
    text-align: center;
    .section-title{
      text-align: center!important;
    }
    .container {
      padding: 60px 20px;
    }
    .media {
      flex-direction: column;
      align-items: center;
      &-body {
        margin-top: 20px;
      }
    }
  }
  
}

.tour {
  background: url(../images/mask2.png) no-repeat;
  background-position: bottom right;
  @media screen and (max-width: $breakpoint-md) { 
    text-align: center;
    margin-top: 50px;
    .section-title{
      text-align: center!important;
    }
  }
}

.bussiness {
  .section {
    &-title {
      color: $white;
      opacity: .8;
    }
    &-subtitle {
      color: $white;
      opacity: .4;
    }
  }
  background-color: $green-2;
  color: $white;
  p{
    opacity: .4;
    font-size: 15px;
    line-height: 24px;
  }
}

.contact {
  background: url(../images/mask2.png) no-repeat;
  background-position: bottom left;
  @media screen and (max-width: $breakpoint-md) { 
    text-align: center;
    padding: 56px 0;
    .section-title{
      text-align: center!important;
    }
  }
  .form {
    background-image: url(../images/bgr-form.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding: 56px 80px;
    color: $gray-3;
    @media screen and (max-width: $breakpoint-md) { 
      padding: 56px 20px;
    }
    .section-title {
      color: $white;
    }
    .form-wp{
      display: flex;
      margin-top: 50px;
      background-color: #30302f;
      border-radius: 5px;
      @media screen and (max-width: $breakpoint-md) { 
        flex-direction: column;
        background-color: transparent;
        input {
          height: 50px;
          margin-bottom: 20px;
        }
      }
      input {
        color: $white;
        display: inline-block;
        border-radius: 5px;
        width: 100%;
        background-color: #30302f;
        border: 0;
        outline: none;
        padding: 0 16px;
        font-size: 14px;
      }
    }
  }
}