.wrapper {
  background-image: url("../images/bg-top.png");
  background-repeat: no-repeat;
  background-size: auto 2420px;
  background-position: top left -510px;
  max-width: 100%;
  margin: 0 auto;
  @media screen and(min-width: 480px) {
    background-size: auto 2220px;
  }
  @media screen and(min-width: $breakpoint-lg) {
    background-size: 100% 1530px;
    background-position: top left;
  }
}

.title {
  font-family: $font-inter;
  font-weight: 700;
  color: $darkest;
  font-size: 28px;
  line-height: 32px;
  &--top {
    text-align: left;
    margin-bottom: 20px;
    @media screen and(min-width: $breakpoint-lg) {
      margin-top: 130px;
      font-size: 48px;
      line-height: 60px;
    }
  }
  &--item {
    font-size: 18px;
    line-height: 28px;
  }
  &--sub {
    font-size: 20px;
    line-height: 22px;
    @media screen and(min-width: $breakpoint-lg) {
      font-size: 28px;
      line-height: 36px;
    }
  }
  &--small {
    font-size: 14px;
    line-height: 22px;
  }
}

.home {
  overflow: hidden;
  position: relative;
  &__block-top {
    margin-bottom: 210px;
  }
  &__brand {
    padding-top: 150px;
    @media screen and(min-width: $breakpoint-md) {
      padding-top: 200px;
    }
    .title {
      margin-bottom: 50px;
    }
    .row {
      align-items: center;
    }
  }
  &__block-bottom {
    margin-top: 120px;
    padding-top: 70px;
    background-image: url("../images/bg-bottom.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: #393782;

    @media screen and(min-width: $breakpoint-lg) {
      background-color: transparent;
      padding-top: 200px;
    }

    @media screen and(min-width: 1350px) {
      background-position: top;
    }
  }
  .swiper {
    &-slide {
      width: 300px;
    }
    &-pagination {
      margin-top: 450px;
      left: 50%;
      transform: translateX(-50%);
      @media screen and(min-width: $breakpoint-lg) {
        margin-top: 100px;
        left: 15px;
        transform: translate3d(0, 0, 0);
      }
      &-bullet {
        width: 12px;
        height: 12px;
        opacity: 0.2;
        background-color: $white;
        outline: none;
        &-active {
          opacity: 1;
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  hr {
    background-color: #C4C4C4;
    opacity: 0.1;
  }
  .group-oval {
    &-01 {
      position: absolute;
    }
  }
  .img-store {
    width: 120px;
    @media screen and(min-width: $breakpoint-md) {
      width: 160px;
    }
  }
  .img01 {
    width: 280px;
    margin: 0 auto;
    img:first-child {
      left: -40px;
      top: 175px;
    }
    img:nth-child(2) {
      left: -20px;
      top: 268px;
    }
    .main {
      margin-left: 20px;
    }
    .bounce {
      position: absolute;
      right: -20px;
      top: 100px;
      right: -100px;
      width: 220px;
    }
    @media screen and(min-width: $breakpoint-lg) {
      width: 350px;
      img:first-child {
        left: 50px;
        top: 240px;
      }
      img:nth-child(2) {
        left: 90px;
        top: 300px;
      }
      .bounce {
        right: -20px;
        width: 296px;
      }
    }
  }
  .img02 {
    position: relative;
    .bounce {
      position: absolute;
      right: -30px;
      bottom: 20px;
      width: 45%;
      @media screen and(min-width: $breakpoint-lg) {
        bottom: 30px;
      }
    }
  }
  .img03 {
    position: relative;
    .bounce {
      position: absolute;
      left: 0;
      width: 46%;
      top: 20px;
      &-2 {
        position: absolute;
        width: 24%;
        bottom: 70px;
        left: 11%;
      }
      &-3 {
        position: absolute;
        width: 48%;
        bottom: -30px;
        right: 0%;
      }
      @media screen and(min-width: $breakpoint-lg) {
        left: 5px;
        width: 45%;
        top: 50px;
      }
    }
  }
  .img04 {
    position: relative;
    .bounce {
      position: absolute;
      right: -10px;
      bottom: 30px;
      width: 43%;
    }
  }
}
